body {
  --sy-base-color: 300;
  --dawn-neutral-base-color: var(--sy-base-color) !important;

  --sy-surrounding-color: hsla(var(--sy-base-color), 20%, 10%, 1);

  --sy-serverbar-color: var(--sy-surrounding-color);
  --sy-topbar-color: var(--sy-surrounding-color);
  --sy-channelbar-color: hsla(var(--sy-base-color), 10%, 10%, 1);
  --sy-chat-color: hsla(var(--sy-base-color), 5%, 15%, 1);
  --sy-messageinput-color: hsla(var(--sy-base-color), 5%, 20%, 1);

  --sy-panel-border-color: hsla(var(--sy-base-color), 50%, 15%, 1);
  --sy-panel-border-width: 1px;
}

.sy-serverbar {
  background-color: var(--sy-serverbar-color);
  width: 64px;
}

.sy-serverbar > *::-webkit-scrollbar {
  display: none;
}

.sy-serverlist,
.sy-topbar,
.sy-channellist,
.sy-accountarea {
  border-width: var(--sy-panel-border-width);
  border-color: var(--sy-panel-border-color);
}

.sy-accountarea {
  background-color: var(--sy-serverbar-color);
  border-top-style: solid;
  border-color: var(--sy-panel-border-color);
  padding: 5px;
}

.sy-accountarea-actions {
  flex-direction: row-reverse;
  margin-right: 20px;
}

.sy-serverlist {
  border-right-style: solid;
  overflow: auto;
  gap: 5px;
}

.sy-topbar {
  border-bottom-style: solid;
  background-color: var(--sy-topbar-color);
  height: 50px;
}

.sy-channelbar {
  background-color: var(--sy-channelbar-color);
  width: 300px;
  height: 100%;
}

.sy-channelbar-inner {
  height: 100%;
}

.sy-channelbar-channel {
  padding: 10px;
}

.sy-channellist {
  border-right-style: solid;
  gap: 5px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.sy-chat-content {
  background-color: var(--sy-chat-color);
}

.sy-messageinput-container {
  margin: 10px;
  box-sizing: border-box;
}

.sy-messageinput {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--sy-messageinput-color);
}

.sy-messageinput > * {
  padding: 5px;
}

.sy-messageinput-input,
.sy-messageinput-input:focus,
.sy-messageinput-input:hover {
  background-color: inherit;
  border-style: none;
}

.sy-chatarea {
  background-color: var(--sy-chat-color);
  gap: 10px;
}

.sy-attachment-image {
  max-width: 600px;
  height: 400px;
  transition: 0.3s;
  object-fit: contain;
}

.sy-attachment-image:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.sy-image-fullscreen {
  --image-padding: 100px;
  width: 100vw;
  height: 100vh;
  max-width: calc(100vw - var(--image-padding));
  max-height: calc(100vh - var(--image-padding));
  margin: 10px;
  object-fit: contain;
}

.sy-message-content > p {
  margin: 0;
  word-break: break-word;
}

.sy-user-viewer {
  width: 600px;
  height: 80vh;
  padding: 0;
}

.sy-user-viewer-banner {
  width: 600px;
  height: calc(600px * 1 / 2.5);
  object-fit: cover;

  border-top-left-radius: var(--dawn-border-radius);
  border-top-right-radius: var(--dawn-border-radius);

  background-color: black;
}

.sy-user-viewer-below-banner {
  margin-top: -90px;
  margin-left: 20px;
}

.sy-user-viewer-main-content {
  padding: 10px;
  padding-top: 0px;
}

.sy-page-container {
  background-color: var(--dawn-root-background);
  background-color: var(--sy-chat-color);
}

.sy-page-close {
  margin: 15px;
  font-size: 2em;
  cursor: pointer;
}

.sy-page-sidebar {
  min-width: 250px;
}
