version: "3.9"

services:
  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: syrenity
      POSTGRES_PASSWORD: syrenity
      POSTGRES_DB: syrenity
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

  # app:
  #   build: .
  #   command: pnpm dev
  #   depends_on:
  #     - db
  #   environment:
  #     DB_HOST: db
  #     DB_PORT: 5432
  #     DB_USER: appuser
  #     DB_PASSWORD: apppassword
  #     DB_NAME: appdb
  #   volumes:
  #     - .:/app
  #     - /app/node_modules
  #   ports:
  #     - "3000:3000"

volumes:
  pgdata:
