.sy-message-content > p {
  margin: 0;
  word-break: break-word;
}

.sy-message {
  gap: 10px !important;
}

.sy-message-inner {
  gap: 4px !important;
  overflow-x: auto;
  width: 100%;
  justify-content: center;
}

.sy-message {
  border-radius: var(--dawn-border-radius);
}

.sy-message:not(.sy-message-inline) {
  margin-top: 20px;
  /* align-items: center; */
}

.sy-message:hover {
  background-color: var(--dawn-container-hover);
}

.sy-system-message {
  padding: 10px;
}

.sy-message-inline {
  padding-left: 58px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
}

.sy-mention {
  background-color: var(--dawn-container-background-trans);
  border-radius: var(--dawn-border-radius);
  padding: 2px;
}

.sy-mention:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sy-message-mentioned {
  background-color: var(--dawn-container-background-highlight);
  border-radius: 0px;
}

.sy-message-pinned {
  --base: var(--sy-base-color);
  background:
    radial-gradient(
      circle at top left,
      hsla(var(--base), 70%, 60%, 0.4),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      hsla(var(--base), 50%, 40%, 0.4),
      transparent 50%
    ),
    linear-gradient(
      270deg,
      hsla(var(--base), 80%, 50%, 0.5),
      hsla(var(--base), 60%, 60%, 0.5),
      hsla(var(--base), 70%, 40%, 0.5),
      hsla(var(--base), 80%, 50%, 0.5)
    );
  background-size:
    300% 300%,
    250% 250%,
    600% 600%;
  background-position:
    0% 0%,
    100% 100%,
    0% 50%;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position:
      0% 0%,
      100% 100%,
      0% 50%;
  }
  50% {
    background-position:
      50% 50%,
      50% 50%,
      100% 50%;
  }
  100% {
    background-position:
      0% 0%,
      100% 100%,
      0% 50%;
  }
}
