.sy-message-content > p {
  margin: 0;
  word-break: break-word;
}

.sy-message {
  gap: 10px !important;
}

.sy-message-inner {
  gap: 4px !important;
  overflow-x: auto;
  width: 100%;
  justify-content: center;
}

.sy-message {
  border-radius: var(--dawn-border-radius);
}

.sy-message:not(.sy-message-inline) {
  margin-top: 20px;
  /* align-items: center; */
}

.sy-message:hover {
  background-color: var(--dawn-container-hover);
}

.sy-system-message {
  padding: 10px;
}

.sy-message-inline {
  padding-left: 58px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
}

.sy-mention {
  background-color: var(--dawn-container-background-trans);
  border-radius: var(--dawn-border-radius);
  padding: 2px;
}

.sy-mention:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sy-message-mentioned {
  background-color: var(--dawn-container-background-highlight);
  border-radius: 0px;
}
