@use "./quick.scss";
@use "./animations.scss";
@use "./context-menus.scss";
@use "./icons.scss";
@use "./tooltips.scss";
@use "./modals.scss";
@use "./elements.scss";
@use "./pages/page.scss";
@use "./image-expander.scss";

:root {
  /* Accent */
  --color-accent-0: rgb(4, 228, 37);
  --color-accent-dim-0: rgb(4, 189, 32);
  --color-error: red;

  --color-tag: var(--color-accent-dim-0);
  --color-tag-text: #000;


  /* Foreground */
  --color-fg-0: #111;
  --color-fg-text-0: white;
  --color-text-dim-0: #888;

  /* Background */
  --color-bg-0: #222;
  --color-bg-1: #333;
  --color-bg-2: #444;

  /* Containers (modals) */
  --color-container-0: #222;
  --color-container-1: #111;
  --color-border-0: #000;
  --color-server-bar: #111;
  --color-server-bar-1: #222;
  --color-channel-bar: #111;
  --color-channel-bg: #212121;

  --color-page-sidebar: #111;
  --color-page-content: #222;

  --color-popup: #111;
  --color-popup-hover: #333;
  --color-popup-backdrop: var(--color-accent-0);

  /* Shadows */
  --color-shadow-0: #111;

  /* Font */
  --main-font: "Arial, Helvetica", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: black;
  color: white;
}