// ----- Basic Elements -----
textarea {
  font-family: var(--main-font);
}

hr {
  border-style: solid;
  border-color: var(--color-accent-0);
}

// Only do this class if the element is not disabled
button:hover:not(:disabled), input:hover:not(:disabled), textarea:hover:not(:disabled) {
  /* Shadow */
  border-color: var(--color-accent-0);
  box-shadow: var(--color-accent-0) 0px 0px 5px 1px;
}

// Makes the input / button use all available width
.jumbo {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

/* Inputs */
input:not(input[type=submit]) {
  box-sizing: border-box;
  border-color: var(--color-fg-0);
}

input:focus:not(input[type=submit]) {
  border-bottom-color: var(--color-accent-0);
}

.input-name {
  text-align: left;
  padding: 7px;
  display: block;
}

.input-error {
  color: var(--color-error);
  text-align: left;
  display: block;
}



// ----- Stuff to do with the scrollbar -----
* {
  /* Scrollbar */
  scrollbar-track-color: var(--color-bg-0);
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg-0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-fg-0);
  border-radius: 10px;
}

/* Generic */
button, input, textarea {
  /* Border */
  margin: 0;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--color-fg-0);;
  /*border-color: var(--color-accent-0);*/

  /* Style */
  background-color: var(--color-fg-0);
  color: var(--color-fg-text-0);
  outline: none;
  transition: 0.1s;
}