// This is for the functions that
// show an image enlarded once
// it is clicked on.

.image-expanded-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  z-index: 10000000;
  display: none;
  animation: fade-in forwards ease 1;
}

.image-expanded-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  animation: fade-in forwards ease 1;
}

.image-expanded-open {
  display: block;
  text-align: center;
  width: 100vw;
  margin: 10px;
}