.tooltip-container {
  /* Positioning */
  position: absolute;
  left: 0;
  top: 0;

  /* Style */
  background-color: var(--color-popup);
  padding: 10px 15px;
  border-radius: 10px;
  display: none;
  margin: 10px;

  box-shadow: 0px 0px 3px 1px var(--color-popup-backdrop);

  /*border-color: var(--color-accent-0);
  border-style: solid;
  border-width: 1px;*/
}

.tooltip-flyout-right {
  animation: flyout-right 0.3s
}

.tooltip-flyout-down {
  animation: flyout-down 0.3s
}

.tooltip-flyout-top {
  animation: flyout-top 0.3s
}


@keyframes flyout-right {
  0% {
    margin-left: -10px;
    opacity: 0;
  }

  100% {
    margin-left: 10px;
    opacity: 100;
  }
}

@keyframes flyout-down {
  0% {
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    margin-top: 10px;
    opacity: 100;
  }
}

@keyframes flyout-top {
  0% {
    margin-bottom: -10px;
    opacity: 0;
  }

  100% {
    margin-bottom: 10px;
    opacity: 100;
  }
}