.page-container {
  background-color: var(--color-page-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
}

.page {
  display: flex;
  height: 100%;
}

.page-sidebar {
  background-color: var(--color-page-sidebar);
  width: 200px;
  height: 100%;
  padding: 60px;
  padding-right: 20px;;
}

.page-sidebar > * {
  background-color: inherit;
  border-style: none;
  width: 100%;
  text-align: left;
  padding: 7px;
  border-radius: 5px;
  margin: 3px;
}

.page-sidebar > button:hover {
  border: none;
  box-shadow: none;
  background-color: var(--color-bg-2);
}

.page-sidebar > b {
  padding: 2px;
  display: block;
  font-size: 0.8em;
  color: var(--color-text-dim-0);
}

.page-sidebar > b:not(:nth-child(1)) {
  margin-top: 30px;
}

.page-content {
  flex: 1;
  height: 100%;
  margin: 50px;
}

.page_big-option {
  display: flex;
  background-color: var(--color-bg-1);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  justify-content: center;
}

.page_big-option:hover {
  background-color: var(--color-bg-2);
}

.page_big-option-right {
  margin-top: auto;
  margin-bottom: auto;
}

.page_big-option > label {
  flex: 1;
  padding: 5px;
  padding-left: 10px;
}

.page_big-option-right > input {
  margin: 5px;
  width: 15px;
}

.page-close {
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100px;
}