// This is for places such as /login where there
// is just a single modal for the entire thing
// with a background

@use "../defaults.scss";

.apply-background {
  background-image: url(/public/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-accent-0);

  opacity: 0;
  animation: modal-fade-in 0.3s forwards;
  animation-delay: 0.1s;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-width: 800px) {
  /* Disable background and stuff */
  .apply-background {
    background-image: none;
    background-color: var(--color-container-0);
  }

  body {
    background-color: var(--color-container-0);
    overflow-x: hidden;
  }
}