// This is used for places such as the developer portal

@use "../defaults.scss";

body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  box-sizing: border-box;
  background-color: var(--color-bg-0);
  height: 100vh;  
  padding: 10px;
}

.sidebar > button {
  width: 100%;
  margin-top: 20px;
}

.main {
  flex: 1;
  padding: 30px;
  height: 100%;
  overflow: hidden;
}