<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {{> default}}
  <link rel="stylesheet" href="/public/css/one_modal_page.css">
  <script src="/public/js/pages/login.js" type="module"></script>
</head>
<body class="apply-background">
  <div class="modal-container">
    <form class="modal big-modal" id="login-form">
      <img class="modal-icon" src="/public/images/logos/no_shape_logo.png">
      <label class="modal-title">Welcome back to Syrenity!</label>
      <p>Let's get you logged in!</p>
      <label class="input-name">Email</label>
      <input class="jumbo" type="email" id="email">
      <a class="extra-link" href="/forgot-password">Forgor 💀 your password?</a><br>
      <label class="input-name">Password</label>
      <input class="jumbo" type="password" id="password">
      <input type="submit" class="jumbo" id="login-button" value="Login">
      <a class="extra-link" href="/register">No accont? Register!</a>
    </form>
  </div>
</body>
</html>