<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {{> default}}
  <link rel="stylesheet" href="/public/css/one_modal_page.css">
  <script src="/public/js/pages/register.js" type="module"></script>
</head>
<body class="apply-background">
  <div class="modal-container" id="container">
    <form class="modal big-modal" id="register-form">
      <img class="modal-icon center" src="/public/images/logos/no_shape_logo.png" id="register-icon">
      <label class="modal-title">Create an account!</label>
      <p>Let's get your amazing account up and running!</p>
      <!-- Email -->
      <label class="input-name">Email</label>
      <input class="jumbo" type="email" id="email">
      <label class="input-error" id="email-error"></label>

      <!-- Username -->
      <label class="input-name">Username</label>
      <input class="jumbo" type="text" id="username">
      <label class="input-error" id="username-error"></label><br>
      <label class="extra-link" id="username-reroll">Suggest a username</label><br>
      
      <!-- Password -->
      <label class="input-name">Password</label>
      <input class="jumbo" type="password" id="password">
      <label class="input-error" id="password-error"></label>

      <!-- Confirm password -->
      <label class="input-name">Confirm Password</label>
      <input class="jumbo" type="password" id="confirm">
      <label class="input-error" id="confirm-error"></label>

      <input type="submit" class="jumbo" value="Register">
      <a class="extra-link" href="/login">Already have an account? Login!</a>
    </form>
  </div>
</body>
<script>

<script>
</html>