<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{> default}}
  <link rel="stylesheet" href="/public/css/two_pane_page.css">
  <link rel="stylesheet" href="/public/css/developers/applications.css">
  <script type="module" src="/public/js/pages/developers/applications.js"></script>
  <title>Developer Portal</title>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <h1>Developers</h1>
      <hr>
      <button>Applications</button>
      <button>Documentation</button>
    </div>
    <div class="main">
      <div class="top">
        <h1>Your Applications</h1>
        <p>
          View, edit and manage all your bots here!<br>
          <i>Right click on a bot user to edit it</i>
        </p>
        <button id="new-account-button">New Bot Account</button>
        <hr>
        <label>Search:</label>
        <input onkeyup="renderList(this.value)" placeholder="search">
      </div>
      <div id="users">Loading...</div>
    </div>
  </div>
</body>
</html>