.main-part {
  flex: 1;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}

// This is like the very top, this contains content-header & actual content
// as a flex box
.main-content {
  width: 100%;
  height: 100%;

  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

// Contains the channel-messages-container & the member bar
.channel-content {
  width: 100%;
  height: 100%;

  overflow: hidden;
  box-sizing: border-box;

  background-color: var(--color-channel-bg);

  display: flex;
  flex-direction: row;
}

// Contains the messages and the input bar
.channel-messages-container {
  width: 100%;
  height: 100%;

  overflow: hidden;
  box-sizing: border-box;

  flex: 1;
  display: flex;
  flex-direction: column;
}

// These contain just the messages
.channel-messages-content {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.channel-messages-content > div {
  overflow: auto;
  height: 100%;
}

// ----- Member Bar -----
.member-panel {
  width: 256px;
  background-color: var(--color-channel-bar);
  padding: 5px;
}

// ----- Content Header -----
.content-header {
  height: var(--header-bar-height);
  background-color: var(--color-channel-bar);
  box-sizing: border-box;
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
  border-bottom-style: solid;
  white-space: nowrap;
  /*overflow: hidden;*/
  height: 48px;
  border-color: var(--color-accent-0);
  z-index: 10;
}

.content-header-right {
  float: right;
}

// ----- Input Bar -----
.content-input {
  padding: 10px;
  margin-top: 0px;
  margin: 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--color-fg-0);
}

.content-input-input {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.content-input-button {
  padding: 10px;
}

.current-typing {
  margin: 5px;
  margin-left: 15px;;
}